#container {
    height: 200px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.pit, .mancala-store {
    border: solid 1px black;
    height: 100%;
}

#pit-container {
    display: flex;
    flex-grow: 3;
    height: 100%;
    flex-wrap: wrap;
}

.pit-row {
    width: 100%;
    display: flex;
    height: 50%;
}

.mancala-store {
    flex-grow: 1;
}

.pit {
    flex-grow: 1;
}