#board {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    border: solid 2px #7B4D19;
    padding: 1%;
    background-color: #D3BE9C;
    justify-content: center;
}

.pit, .mancala-store {
    border: solid #7B4D19 2px;
    border-radius: 20px;
    background-color: #B59970;
    padding: .5%;
    font-family: sans-serif
}

.mancala-store {
    width: 10%
}

#pit-container {
    display: flex;
    width: 75%;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
}

.pit-row {
    width: 100%;
    display: flex;
    height: 45%;
}


.pit {
    flex: 1;
    cursor: pointer;
    margin: 0 1%;
}

.current-player-row .pit,
.current-player-store {
    border: solid #7B4D19 3px;
}
.current-player-row .pit:hover {
    border: solid #7B4D19 4px;
}

.current-player-row .pit:hover .stone {
    font-size: 1.75vw;
}


.current-player-row,
.current-player-store {
    font-weight: bold;
}


#player-display {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 25px;
}

.current-player {font-weight: bold;}

.play-again {
    display: none;
}

.stone {
    font-size: 1.5vw;
}

.overlay {
    display: none;
}

.overlay.overlay-active {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.overlay-container {
    background-color: #c5c5c5;
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    font-family: sans-serif;
    margin: 20px auto;
    border: solid 3px #616161;
}

.overlay-close {
    font-weight: bold;
    cursor: pointer;
}

.rules-display {
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.emoji {
    cursor: pointer;
}

/* 
.winner .stone {
    animation: expand 5s infinite;
}

@keyframes expand {
    from {font-size: 0px;}
    to {font-size: 200px;}
  } */